import { expect } from 'chai';
import { render, shallow } from 'enzyme';

describe('<HelloWorld />', () => {
  it('should display "Hello World" in an h1 element', () => {
    const wrapper = render(<HelloWorld name="World" />);
    expect(wrapper.find('h1').text()).to.contain('Hello World');
  });
});
