// fonts
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;
$body-font: $open-sans;
$heading-font: $roboto;

// colors
$theme-gray: #333333;
$theme-blue: #61dafb;
$theme-white: #fafafa;
$theme-pink: #ff4081;
$theme-black: #111111;
